[user]
  email = nooncat@yandex.ru
  name = Vladimir Nikonorov
[push]
  default = simple
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  names = show --pretty="" --name-only
[core]
  editor = vim
[merge]
  conflictstyle = diff3
[http]
	sslCAinfo = /etc/ssl/certs/ca-certificates.crt
	sslverify = true
